
<mat-list>
    <mat-list-item> <mat-icon mat-list-icon>emoji_events</mat-icon>
        <div mat-line>Rs 2,00,000</div>
        <div mat-line> Mumbai Towers </div>
    </mat-list-item>
    <mat-list-item> <mat-icon mat-list-icon>emoji_events</mat-icon>
        <div mat-line>Rs 2,00,000</div>
        <div mat-line> Mumbai Towers </div>
    </mat-list-item>
    <mat-list-item> <mat-icon mat-list-icon>emoji_events</mat-icon>
        <div mat-line>Rs 2,00,000</div>
        <div mat-line> Mumbai Towers </div>
    </mat-list-item>
    <mat-list-item> <mat-icon mat-list-icon>emoji_events</mat-icon>
        <div mat-line>Rs 2,00,000</div>
        <div mat-line> Mumbai Towers </div>
    </mat-list-item>

</mat-list>
